{% set user = value is iterable ? (value|first) : value %}
{% set label = labels|first %}
{% set id = values|first %}
{% if (value is empty) %}
    -
{% elseif user.banned %}
    {{ label }}
{% else %}
    {% set currentTheme = agt_current_theme()|default('auto-grid') %}
    {% if currentTheme == 'auto-grid-bulma' %}
        <a href="{{ path('auto_grid_test_advanced_2', {id: id}) }}" class="is-link">{{ label }}</a>
    {% elseif currentTheme == 'auto-grid-foundation' %}
        <a href="{{ path('auto_grid_test_advanced_2', {id: id}) }}" class="secondary">{{ label }}</a>
    {% elseif currentTheme == 'auto-grid-flowbite' %}
        <a href="{{ path('auto_grid_test_advanced_2', {id: id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{ label }}</a>
    {% else %}
        <a href="{{ path('auto_grid_test_advanced_2', {id: id}) }}">{{ label }}</a>
    {% endif %}
{% endif %}
