{% set choices = ag_field_value(entity, field) %}
{% if (choices is empty) %}
    -
{% else %}
    {% set label = ag_choice_labels(choices, field)|first %}
    {% set value = ag_choice_values(choices, field)|first %}
    {% set currentTheme = agt_current_theme()|default('auto-grid') %}
    
    {% if currentTheme == 'auto-grid-bulma' %}
        <a href="{{ path('auto_grid_test_advanced_2', {id: value}) }}" class="is-link">{{ label }}</a>
    {% elseif currentTheme == 'auto-grid-foundation' %}
        <a href="{{ path('auto_grid_test_advanced_2', {id: value}) }}" class="secondary">{{ label }}</a>
    {% elseif currentTheme == 'auto-grid-flowbite' %}
        <a href="{{ path('auto_grid_test_advanced_2', {id: value}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{ label }}</a>
    {% else %}
        <a href="{{ path('auto_grid_test_advanced_2', {id: value}) }}">{{ label }}</a>
    {% endif %}
{% endif %}
