{% extends '@F0skaAutoGridTest/base.html.twig' %}
{% import '@F0skaAutoGridTest/components/theme_switcher.html.twig' as agt %}

{% block title %}Relations Example - AutoGrid{% endblock %}

{% block content %}
    {{ agt.infoBlock('Demonstrated features:', [
        'Automatic rendering and filtering for <strong>One-to-Many / Many-to-Many</strong> relations',
        '<strong>Associated Fields</strong>: Displaying properties from related entities directly',
        '<strong>Cross-Entity Permissions</strong>: Context-aware field visibility using <code>gridId</code>'
    ]) }}

    {{ ag_render(articles) }}
    <div class="mt-5">{{ ag_render(users) }}</div>
    <div class="mt-5">{{ ag_render(tags) }}</div>
    <div class="mt-5">{{ ag_render(comments) }}</div>
{% endblock %}
